#include "slpx.h"

{% for port in config.ports -%}
slpx_t {{port.reference}};
{% endfor %}

void slpxs_init(void)
{
{% for port in config.ports -%}
{{port.reference}}.usart = &{{port.port}};
{% endfor %}

{% for port in config.ports -%}
 slpx_open(&{{port.reference}});
{% endfor %}
}
