#include "opencm3hal.h"
#include <libopencm3/stm32/rcc.h>
#include <libopencm3/cm3/scb.h>

void hal_setup_clock(void);

void hal_init(void)
{
 hal_setup_clock();
{% for mapper in config.mappers -%}
 hal_{{mapper.name}}s_init();
{% endfor %}
}

void hal_setup_clock(void)
{
 {{ options.hal.clock }}
}

void hal_reset(void)
{
 scb_reset_system();
}
