#ifndef OPENCM3_HAL_USART_H
#define OPENCM3_HAL_USART_H

#include "FreeRTOS.h"
#include "queue.h"
#include "halusart.h"

typedef struct hal_usart_s {
   uint32_t index;
{% if config.hastx -%}
   QueueHandle_t tx;
{% endif -%}
{% if config.hasrx -%}
   QueueHandle_t rx;
   uint8_t overflow;
{% endif -%}
} hal_usart_t;

/*
void hal_usarts_init(void);

{% if config.hastx -%}
void hal_usart_send(hal_usart_t* usart, uint8_t* buf, size_t buflen);
void hal_usart_send_byte(hal_usart_t* usart, uint8_t data);
{% endif -%}
{% if config.hasrx -%}
uint8_t hal_usart_read(hal_usart_t* usart);
uint32_t hal_usart_read_uint32(hal_usart_t* usart);
void hal_usart_read_buf(hal_usart_t* usart, uint8_t* buf, size_t buflen);
void hal_usart_skip(hal_usart_t* usart, size_t buflen);

{% endif -%}
*/

#endif
