#ifndef OPENCM3_HAL_USART_H
#define OPENCM3_HAL_USART_H

#include "FreeRTOS.h"
#include "queue.h"
#include "halusart.h"

#define USART_STATUS_NONE 0
#define USART_RX_OVERFLOW 0x01

typedef struct hal_usart_s {
   uint32_t index;
{% if config.hastx -%}
   QueueHandle_t tx;
{% endif -%}
{% if config.hasrx -%}
   QueueHandle_t rx;
   uint8_t status;
{% endif -%}
} hal_usart_t;

#endif
